@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: false;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;
  }
}
