<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (keyup.enter)="form.valid && assertionStart(form.value)"
        (ngSubmit)="form.valid && assertionStart(form.value)" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input [autofocus]="true" [required]="true"
                       autocomplete="username webauthn" errorText="Username is required"
                       label="Username" labelPlacement="stacked"
                       name="username"
                       ngModel
                       type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button *ngIf="loginButtonEnabled" [disabled]="!form.valid" color="primary" expand="block" type="submit">
            Login
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top">
          <ion-button color="light" expand="block" routerDirection="forward" routerLink="/registration" type="button">
            Registration
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>
